<!DOCTYPE html>
<html lang="en">

<head>
  <title>Kaun Banega Crorepati</title>
</head>

<body>

  <video id="background-video" autoplay loop muted poster="bg2.png">
    <source src="/static/bg2.mp4" type="video/mp4">
  </video>
  <style>
    #background-video {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
    }

    #content {
      border: 3px solid blue;
      display: inline-block;
      align-content: center;
      background-color: rgba(0, 0, 0, 0.5);
      margin-top: 2%;
      margin-left: 2%;
      border-radius: 15px;
      padding: 2%;
      box-shadow: 10px 10px 5px gray;
    }
  </style>
  {%include "navbar2.html"%}
  <div id="content">

    <h1 style="color: white;">Welcome {{t[0]}} in Kaun Banega Crorepati</h1>
    <h1 style="color: white;">ID: {{t[2]}}</h1>
    <h1 style="color: white;">You have ₹{{t[3]}} in your KBC wallet.</h1>
    <a href="/play?id={{t[2]}}&q=0"><button type="button" class="btn btn-primary"><h1>Play</h1></button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/transfer?id={{t[2]}}"><button type="button" class="btn btn-danger"><h1>Transfer Money</h1></button></a>
  </div>
</body>

</html>